<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="justuno" translate="label" sortOrder="500">
            <label>Justuno</label>
        </tab>
        <section id="justuno_social" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dashboard</label>
            <tab>justuno</tab>
            <resource>Justuno_Social::justuno_social</resource>
            <group id="dashboard" translate="label" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
             <label>Dashboard</label>
             <frontend_model>Justuno\Social\Block\System\Config\Form\Custom1</frontend_model>
             </group>
        </section>
        <section id="justuno_social_control" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
        	<class>separator-top</class>
            <label>Account Settings</label>
            <tab>justuno</tab>
            <resource>Justuno_Social::justuno_social_control</resource>
            <group id="loginapi" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="0">
            	<label>Connect Magento to existing Justuno Account</label>
                <frontend_model>Justuno\Social\Block\System\Config\Form\Custom</frontend_model>
                <field id="justuno_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter your justuno account email:</label>
                </field>
                <field id="justuno_password" translate="label" type="password" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter your justuno APP ID:</label>
                </field>
                <field id="justuno_domain" translate="label" type="text" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <field id="justuno_forget" translate="label" type="hidden" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <comment><![CDATA[<a href='https://www.justuno.com/login.html' target='_blank'>Forget your password?</a>]]></comment>
                    
                </field>

                <field id="justuno_guid" translate="label" type="hidden" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <field id="justuno_appid" translate="label" type="hidden" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <field id="justuno_embed" translate="label" type="hidden" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <field id="justuno_conversion" translate="label" type="hidden" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <field id="justuno_secure_login_url" translate="label" type="hidden" sortOrder="3" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>
                <!--<field id="justuno_key" translate="label" type="hidden" sortOrder="4" showInDefault="0" showInWebsite="0" showInStore="0">
                </field>-->
                
            </group>

            <group id="registerapi" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="0">
                <label>Create New Justuno Account</label>
                <frontend_model>Justuno\Social\Block\System\Config\Form\Custom2</frontend_model>
                <field id="justuno_new_email" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter an e-mail address:</label>
                    <validate>validate-email</validate>
                </field>
                <field id="justuno_new_password" translate="label" type="password" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter a password:</label>
                    
                </field>
                <field id="justuno_new_domain" translate="label" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter your website domain:</label>
                    
                </field>
                <field id="justuno_new_phone" translate="label" type="text" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Enter your phone number:</label>
                    
                </field>
                <!--<field id="justuno_new_embed" translate="label" type="hidden" sortOrder="5" showInDefault="0" showInWebsite="0" showInStore="0"></field>
                <field id="justuno_new_key" translate="label" type="hidden" sortOrder="1" showInDefault="1" showInWebsite="0" showInStore="1"></field>-->
            </group>
        </section>
        
	</system>
</config>