<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
	<system>
		<tab id="justuno" sortOrder="999" translate="label">
			<label>Justuno</label>
		</tab>
		<section id="account" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
			<label>Account Configuration</label>
			<tab>justuno</tab>
			<resource>Justuno_Integration::config_justuno_integration</resource>
			<group id="options" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label">
				<label>Options</label>
				<field id="guid" showInDefault="1" showInStore="1" showInWebsite="1" sortOrder="10" translate="label" type="text">
					<label>GUID (Unique Justuno APP ID)</label>
					<comment>GUID is found in the admin settings of your Justuno account in your embed section (XXXXXXXX-XXXX-XXXX-XXXXXXX)</comment>
				</field>
			</group>
		</section>
	</system>
</config>
