<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
	<router id="standard">
		<route frontName="justuno_integration" id="justuno_integration">
			<module name="Justuno_Integration"/>
		</route>
	</router>
</config>
